/*  **********************  BUTTONS  **********************
    **********************  BUTTONS  **********************
    **********************  BUTTONS  **********************  */


.btn {
  @include buttons;
  border: none;
  margin-left: 5px;
}

.btn:hover {
  background-color: $color-success;
  transition: 1s;
  & a {
    color: white;
  }
}
.btn2 {
  @include buttons;
  border: none;
	background-color: $color-secondary;
	
}
.btn2:hover {
  background-color: $color-info;
  transition: 1s;
  border: none;
}
.diferent {
	color: $color-white;
}

.landing__button {
    @extend .btn; 
    height: 48px;
    width: 240px;
    color: $color-white;
    background-color: $color-third;
    border: none;
    & a {
        color: $color-white;
        
      }
}

.landing__button:hover {
  transition: 1s;
  background-color: $color-secondary;
}

.thirdpage__grid--cards button {
  @extend .landing__button;
  display: flex;
  height: 36px;
  width: 80%;
  margin: auto;
  & a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.fourthpage__card button {
  @extend .landing__button;
  display: flex;
  height: 36px;
  width: 80%;
  margin: auto;
  & a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.form__button {
  @extend .landing__button;
  margin-top: 20px;
  margin-left: 30px;
}

.landing__ball--button {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: none;
  text-align: center;
  color: $color-white;
  font-size: 19px;
  background-color: $color-secondary;
  outline: none;
  
}

.landing__ball--button:hover {
  transition: .7s;
	background-color: $color-success;
}

.landing__ball--button a {
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footerdiv2__signin--button {
  width: 33.4%;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: $border-radius;
  background-color: $color-success;
  outline: none;
}