/*  **********************  CARDS  **********************
    **********************  CARDS  **********************
    **********************  CARDS  **********************  */


.thirdpage__grid--cards {
    @include cards;
    }

.thirdpage__grid--cards img {
    width: 180px;
    height: 90px;
    border-radius: 15px;
}


  .fourthpage__card {
    @include cards;
    width: 70%;
    height: 450px;
  }

  .landing__cards{
    @include cards;
    height: 140px;
    width: 170px;
    margin: 0;
    text-align: center;
    color: $color-third;
  }

  .documents__card {
    @include cards;
    border-radius: 15px;
    height: 120px;
    width: 100px;
    justify-self: center;
    align-items: center;
  }