/*  **********************  FONTS  **********************
    **********************  FONTS  **********************
    **********************  FONTS  **********************  */


.landing__heading{
    @include decoration;
    font-size: 47px;
    padding-left: 10px;
}

.landing__parragraph {
    @include decoration;
    color: #6272F1;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    text-transform: none;
    font-size: 28px;
}

.secondpage__heading {
    @include decoration;
    font-size: 58px;
    margin-top: 50px;
    font-weight: bold;
    
}

.secondpage__gridcontainer h2 {
    font-size: 65px;
    font-weight: bold;
    color: $color-third;
    margin: 0;
}

.secondpage__gridcontainer p {
    @include decoration;
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    align-items: flex-start;
    font-size: 20px;
}

.thirdpage__heading {
    @include decoration;
    font-size: 26px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: $color-white;
    margin: auto;
}

.thirdpage__grid--cards h5 {
    @include decoration;
    margin: 0;
}

.thirdpage__grid--cards p {
    @include decoration;
    @include secondaryText;
}


.fourthpage__heading {
    @include decoration;
    font-size: 44px;
    margin-top: 30px;
}

.fourthpage__card h3 {
    @include decoration;
    color: $color-third;
}

.fourthpage__card p {
    @include decoration;
	@include secondaryText;
}

.fifthpage__heading {
    @include decoration;
    font-size: 50px;
    text-align: center;
}

.fifthpage__subheading {
    @include decoration;
    color: $color-third;
    font-size: 30px;
}

.fifthpage__heading2 {
    @extend .fifthpage__heading;
}

.landing__cards p {
    font-size: 12px;
    color: $color-secondary;
}

.landing__cards h2 {
    text-transform: uppercase;
}

.profile__p {
    text-align: center;
    color:  $color-white;
    font-weight: bold;
}

.container__contact--p {
    width: 100%;
    height: 30%;
    color: #9A9292;
    text-align: center;
    margin: 0;
    font-size: 11px;
    padding-top: 11px;
}

.documents__name--h2 {
    font-size: 37px;
    font-weight: bold;
    color: #6D7194;
    margin-right: 5px;
}

.documents__name--user {
    font-size: 37px;
    font-weight: bold;
}

.documents p {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
}

.docu__info--h2 {
    margin: 0px;
    font-size: 19px;
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}