/*  **********************  STYLES  **********************
    **********************  STYLES  **********************
    **********************  STYLES  **********************  */

.footer {
    @include totalwide;
    background-color: $color-secondary;
    height: 450px;
    width: 100%;
}
.footerdiv {
    height: 50%;
    width: 100%;
}

.footerdiv2 {
    display: grid;
    grid-template: repeat(3, 50px) / repeat(4, 1fr);
    
}

.footerdiv2__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    color: $color-white;
}

.footerdiv2__ptdp {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: start;
    justify-self: center;
    text-transform: none;
    color: $color-white;
}

.footerdiv2__tyc {
    @extend .footerdiv2__ptdp;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footerdiv2__us {
    @extend .footerdiv2__ptdp;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footerdiv2__blog {
    @extend .footerdiv2__ptdp;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

.footerdiv2__contact {
    @extend .footerdiv2__ptdp;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.footerdiv2__p {
    @extend .footerdiv2__ptdp;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    
}

.footerdiv2__signin {
    @extend .footerdiv2__ptdp;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: flex-start;
    justify-content: center;
    justify-self: start;
    width: 300px;
    border: none;
    border-radius: $border-radius;
    outline: none;
    background-color: $color-white;
}

.footerdisclaim {
    margin: 0 auto;
    text-align: center;
    color: grey;
    font-style: italic;
}

.footerlanding {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    
}
.footerlanding ul li  {
    display: flex;
    justify-content: center;
}