.fifthpage__form {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    height: 400px;
    z-index: 2;
}

.fifthpage__form--contact {
    width: 60%;
    height: 100%;
    background-color: $color-white;
    margin: 0;
    border: none;
    box-shadow: none;
}

.form__heading {
    @include decoration;
    text-transform: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form__pa {
    margin: 7px 0px 7px 0px;
    margin-left: 30px;
    width: 70%;
    color: #6272F1;
    font-weight: bold;
    border: none;
    box-shadow: none;
   
}

.fifthpage__form--info {
    @include cards;
    width: 40%;
    background-color: $color-third;
    height: 400px;
    margin: 0;
    border: $color-third;
    box-shadow: none;
}

.info__heading {
    @extend .form__heading;
    color: $color-white;
    font-weight: normal;
}