
 
 .menu__container {
     display: flex;
     justify-content: flex-end;
     background-color: $color-brand;
 }
 
 .menu {
	display: flex;
	justify-content: flex-end;
    padding-right: 10px;
    
 }

.menu__img {
	width: 30px;
    height: 30px;
    
}

.menu__img2 {
    margin-right: 90px;
    width: 170px;
    height: 100%;
}
