/*  **********************  IMAGES  **********************
    **********************  IMAGES  **********************
    **********************  IMAGES  **********************  */

.landing__sectionwrapper--img {
	width: 60%;
	height: 570px;
	& .right {
		width: 100%;
	}
}

.icon img {
	@include generalwide;
	display: block;
	margin: 0 auto;
	height: 59px;
}

.secondpage__gridcontainer img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 8px solid $color-secondary;
	
}
.secondpage__footer img {
	display: flex;
	margin: 0 auto;
	color: $color-white;
	align-items: center;
	height: 50%;
}
.icon-bar {
	position: fixed;
    top: 40%;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 11px;
	transition: all 0.8s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	background-color: #0d0b40;
}

.facebook {
	background: #3b5998;
	color: white;
	border-radius: 1px;
    border-bottom-right-radius: 18px;
}

.twitter {
	background: #55acee;
	color: white;
	border-radius: 1px;
    border-bottom-right-radius: 18px;
}

.linkedin {
	background: #007bb5;
	color: white;
	border-radius: 1px;
    border-bottom-right-radius: 18px;
}

.youtube {
	background: #bb0000;
	color: white;
	border-radius: 1px;
    border-bottom-right-radius: 18px;
}

.profile__pic {
	height: 90px;
	width: 90px;
	border: none;
	border-radius: 50%;
	margin-top: 60px;
	margin-left: 89px;
}

.container__list--image {
	width: 35%;
	justify-self: center;
	align-self: center;
	padding-left: 25px;
}

.container__image {
	height: 30px;
	width: 30px;
	align-self: center;
    justify-self: center;
}
