/*  **********************  INPUTS  **********************
    **********************  INPUTS  **********************
    **********************  INPUTS  **********************  */


.fifthpage__searchcontainer {
	@include cards;
	width: 615px;
	margin: 0 auto;
	height: 40px;
    display: flex;
    justify-content: center;
	align-items: center;
	background-color: $color-white;
}



.fifthpage__searchcontainer:hover{
	box-shadow: 0 3px 5px 0 #20212447;
	border-color: #dfe1e500;
}

.fifthpage__searchcontainer input {
	width: 520px;
	height: 35px;
    border: none;
	outline: none;
    margin: 0 ;
    color: $color-secondary;
}

.form__input {
    margin-left: 30px;
    width: 70%;
    height: 23px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: $color-white;   
    outline: none;
}

.footerdiv2__signin--input {
    width: 60%;
    height: 100%;
    padding: 0;
    padding-left: 16px;
    margin: 0 auto;
    border: none;
    border-radius: $border-radius;
    outline: none;
}

.search__info {
    width: 90%;
    height: 45px;
    background-color: #BCBCBC;
    border: none;
    border-radius: 11px;
    display: flex;
}

.search__info--input {
    width: 65%;
    margin: 0px 20px;
    box-sizing: border-box;
    background-color: #BCBCBC;
    outline: none;
    border: none;
}

