/*  **********************  LINKS  **********************
    **********************  LINKS  **********************
    **********************  LINKS  **********************  */


a {
    @include decoration;
}
li {
    list-style: $list-style;
    font-size: $buttonfontsize;
}

.secondpage a {
	height: 200px;
	display: flex;
	align-items: flex-end;
}

.landing__navigation--list li a {
    position: relative;
    color: $color-secondary;
    font-size: 14px;
    
}
.landing__navigation--list li a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: $color-secondary;
    left: 0;
    bottom: -12px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s;
}

.landing__navigation--list li a:hover:after {
    left: 50%;
    opacity: 1;
}
.fourthpage__card--list li a {
    font-weight: bold;
    text-transform: none;  
}

.searchicon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon_svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

// .footer__anchor {
//     text-transform: none;
// }

// .footer__socialmedia {
//     width: 350px;
//     display: flex;
//     margin: 0 auto;
//     justify-content: center;
//     & a img{
//         width: 100%;
//     }
// }

// .footer__socialmedia--anchor{
//     width: 45px;
//     height: 40px;
//     margin: 0px 7px;
// }

.signin__a {
    text-transform: none;
    font-size: 14px;
    color: white;
}

.container__list--anchor {
    align-self: center;
    justify-self: flex-start;
    color: $color-white;
    text-transform: none;
    text-align: start;
    padding-left: 25px;
}

.container__contact--anchor {
    width: 100%;
    height: 60%;
    color: $color-white;
    text-align: center;
    margin: 0;
    font-size: 13px;
    padding-top: 6px;
}

.info__container--anchor {
    @extend .container__list--anchor;
    justify-self: flex-start;
    padding: 0px;
    font-size: 14px;
}

.searchicon2 {
    @extend .searchicon;
    width: 25px;
    height: 100%;
}