::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0D0B40;
    box-shadow: 8px 8px 16px 0px grey;
}
::-webkit-scrollbar-thumb:hover {
  background: #0D0B40;
}
::-webkit-scrollbar-thumb:active {
  background: #DFDCF0;
}
::-webkit-scrollbar-track {
  background: #DFDCF0;
  border: 0px none #ffffff;
  border-radius: 54px;
}
::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-track:active {
  background: #c0c0c0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}