/*  **********************  STYLES  **********************
    **********************  STYLES  **********************
    **********************  STYLES  **********************  */
/*  **********************  VARIABLES  **********************
    **********************  VARIABLES  **********************
    **********************  VARIABLES  **********************  */
/*  **********************  MIXIN  **********************
    **********************  MIXIN  **********************
    **********************  MIXIN  **********************  */
/*  **********************  BUTTONS  **********************
    **********************  BUTTONS  **********************
    **********************  BUTTONS  **********************  */
.btn, .landing__button, .thirdpage__grid--cards button, .fourthpage__card button, .form__button {
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 14px;
  background-color: white;
  font-size: 14px;
  color: #0D0B40;
  outline: none;
  border: none;
  margin-left: 5px;
}

.btn:hover, .landing__button:hover, .thirdpage__grid--cards button:hover, .fourthpage__card button:hover, .form__button:hover {
  background-color: #5bb75b;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn:hover a, .landing__button:hover a, .thirdpage__grid--cards button:hover a, .fourthpage__card button:hover a, .form__button:hover a {
  color: white;
}

.btn2 {
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 14px;
  background-color: white;
  font-size: 14px;
  color: #0D0B40;
  outline: none;
  border: none;
  background-color: #0D0B40;
}

.btn2:hover {
  background-color: #4268dd;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
}

.diferent {
  color: white;
}

.landing__button, .thirdpage__grid--cards button, .fourthpage__card button, .form__button {
  height: 48px;
  width: 240px;
  color: white;
  background-color: #2F71F7;
  border: none;
}

.landing__button a, .thirdpage__grid--cards button a, .fourthpage__card button a, .form__button a {
  color: white;
}

.landing__button:hover, .thirdpage__grid--cards button:hover, .fourthpage__card button:hover, .form__button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #0D0B40;
}

.thirdpage__grid--cards button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  width: 80%;
  margin: auto;
}

.thirdpage__grid--cards button a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourthpage__card button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  width: 80%;
  margin: auto;
}

.fourthpage__card button a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__button {
  margin-top: 20px;
  margin-left: 30px;
}

.landing__ball--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: none;
  text-align: center;
  color: white;
  font-size: 19px;
  background-color: #0D0B40;
  outline: none;
}

.landing__ball--button:hover {
  -webkit-transition: .7s;
  transition: .7s;
  background-color: #5bb75b;
}

.landing__ball--button a {
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerdiv2__signin--button {
  width: 33.4%;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px;
  background-color: #5bb75b;
  outline: none;
}

/*  **********************  FONTS  **********************
    **********************  FONTS  **********************
    **********************  FONTS  **********************  */
.landing__heading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 47px;
  padding-left: 10px;
}

.landing__parragraph {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6272F1;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  text-transform: none;
  font-size: 28px;
}

.secondpage__heading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 58px;
  margin-top: 50px;
  font-weight: bold;
}

.secondpage__gridcontainer h2 {
  font-size: 65px;
  font-weight: bold;
  color: #2F71F7;
  margin: 0;
}

.secondpage__gridcontainer p {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
}

.thirdpage__heading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  color: white;
  margin: auto;
}

.thirdpage__grid--cards h5 {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.thirdpage__grid--cards p {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
  color: #6272F1;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  margin: 10px;
}

.fourthpage__heading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 44px;
  margin-top: 30px;
}

.fourthpage__card h3 {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2F71F7;
}

.fourthpage__card p {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
  color: #6272F1;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  margin: 10px;
}

.fifthpage__heading, .fifthpage__heading2 {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  text-align: center;
}

.fifthpage__subheading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2F71F7;
  font-size: 30px;
}

.landing__cards p {
  font-size: 12px;
  color: #0D0B40;
}

.landing__cards h2 {
  text-transform: uppercase;
}

.profile__p {
  text-align: center;
  color: white;
  font-weight: bold;
}

.container__contact--p {
  width: 100%;
  height: 30%;
  color: #9A9292;
  text-align: center;
  margin: 0;
  font-size: 11px;
  padding-top: 11px;
}

.documents__name--h2 {
  font-size: 37px;
  font-weight: bold;
  color: #6D7194;
  margin-right: 5px;
}

.documents__name--user {
  font-size: 37px;
  font-weight: bold;
}

.documents p {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
}

.docu__info--h2 {
  margin: 0px;
  font-size: 19px;
  text-align: center;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  **********************  LINKS  **********************
    **********************  LINKS  **********************
    **********************  LINKS  **********************  */
a {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style: none;
  font-size: 14px;
}

.secondpage a {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing__navigation--list li a, .landing__navigation--list2 li a {
  position: relative;
  color: #0D0B40;
  font-size: 14px;
}

.landing__navigation--list li a::after, .landing__navigation--list2 li a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #0D0B40;
  left: 0;
  bottom: -12px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.landing__navigation--list li a:hover:after, .landing__navigation--list2 li a:hover:after {
  left: 50%;
  opacity: 1;
}

.fourthpage__card--list li a {
  font-weight: bold;
  text-transform: none;
}

.searchicon, .searchicon2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon_svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.signin__a {
  text-transform: none;
  font-size: 14px;
  color: white;
}

.container__list--anchor, .info__container--anchor {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  color: white;
  text-transform: none;
  text-align: start;
  padding-left: 25px;
}

.container__contact--anchor {
  width: 100%;
  height: 60%;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 13px;
  padding-top: 6px;
}

.info__container--anchor {
  justify-self: flex-start;
  padding: 0px;
  font-size: 14px;
}

.searchicon2 {
  width: 25px;
  height: 100%;
}

/*  **********************  IMAGES  **********************
    **********************  IMAGES  **********************
    **********************  IMAGES  **********************  */
.landing__sectionwrapper--img {
  width: 60%;
  height: 570px;
}

.landing__sectionwrapper--img .right {
  width: 100%;
}

.icon img {
  max-width: 80%;
  margin: auto;
  display: block;
  margin: 0 auto;
  height: 59px;
}

.secondpage__gridcontainer img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 8px solid #0D0B40;
}

.secondpage__footer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.icon-bar {
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 11px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #0d0b40;
}

.facebook {
  background: #3b5998;
  color: white;
  border-radius: 1px;
  border-bottom-right-radius: 18px;
}

.twitter {
  background: #55acee;
  color: white;
  border-radius: 1px;
  border-bottom-right-radius: 18px;
}

.linkedin {
  background: #007bb5;
  color: white;
  border-radius: 1px;
  border-bottom-right-radius: 18px;
}

.youtube {
  background: #bb0000;
  color: white;
  border-radius: 1px;
  border-bottom-right-radius: 18px;
}

.profile__pic {
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: 89px;
}

.container__list--image {
  width: 35%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 25px;
}

.container__image {
  height: 30px;
  width: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

/*  **********************  CARDS  **********************
    **********************  CARDS  **********************
    **********************  CARDS  **********************  */
.thirdpage__grid--cards {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
}

.thirdpage__grid--cards img {
  width: 180px;
  height: 90px;
  border-radius: 15px;
}

.fourthpage__card {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
  width: 70%;
  height: 450px;
}

.landing__cards {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
  height: 140px;
  width: 170px;
  margin: 0;
  text-align: center;
  color: #2F71F7;
}

.documents__card {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
  border-radius: 15px;
  height: 120px;
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  **********************  INPUTS  **********************
    **********************  INPUTS  **********************
    **********************  INPUTS  **********************  */
.fifthpage__searchcontainer {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
  width: 615px;
  margin: 0 auto;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.fifthpage__searchcontainer:hover {
  -webkit-box-shadow: 0 3px 5px 0 #20212447;
          box-shadow: 0 3px 5px 0 #20212447;
  border-color: #dfe1e500;
}

.fifthpage__searchcontainer input {
  width: 520px;
  height: 35px;
  border: none;
  outline: none;
  margin: 0;
  color: #0D0B40;
}

.form__input {
  margin-left: 30px;
  width: 70%;
  height: 23px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  outline: none;
}

.footerdiv2__signin--input {
  width: 60%;
  height: 100%;
  padding: 0;
  padding-left: 16px;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  outline: none;
}

.search__info {
  width: 90%;
  height: 45px;
  background-color: #BCBCBC;
  border: none;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__info--input {
  width: 65%;
  margin: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #BCBCBC;
  outline: none;
  border: none;
}

.fifthpage__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  z-index: 2;
}

.fifthpage__form--contact {
  width: 60%;
  height: 100%;
  background-color: white;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__heading, .info__heading {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__pa {
  margin: 7px 0px 7px 0px;
  margin-left: 30px;
  width: 70%;
  color: #6272F1;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fifthpage__form--info {
  width: 180px;
  height: 210px;
  margin-top: 20px;
  border: 6px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
  -webkit-box-shadow: 8px 8px 16px 0px grey;
          box-shadow: 8px 8px 16px 0px grey;
  background-color: white;
  width: 40%;
  background-color: #2F71F7;
  height: 400px;
  margin: 0;
  border: #2F71F7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.info__heading {
  color: white;
  font-weight: normal;
}

/*  **********************  STYLES  **********************
    **********************  STYLES  **********************
    **********************  STYLES  **********************  */
.footer {
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
  background-color: #0D0B40;
  height: 450px;
  width: 100%;
}

.footerdiv {
  height: 50%;
  width: 100%;
}

.footerdiv2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 50px)/repeat(4, 1fr);
}

.footerdiv2__image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  color: white;
}

.footerdiv2__ptdp, .footerdiv2__tyc, .footerdiv2__us, .footerdiv2__blog, .footerdiv2__contact, .footerdiv2__p, .footerdiv2__signin {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: none;
  color: white;
}

.footerdiv2__tyc {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.footerdiv2__us {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.footerdiv2__blog {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.footerdiv2__contact {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.footerdiv2__p {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.footerdiv2__signin {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: start;
      justify-self: start;
  width: 300px;
  border: none;
  border-radius: 40px;
  outline: none;
  background-color: white;
}

.footerdisclaim {
  margin: 0 auto;
  text-align: center;
  color: grey;
  font-style: italic;
}

.footerlanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footerlanding ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #DFDCF0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}

.menu__img {
  width: 30px;
  height: 30px;
}

.menu__img2 {
  margin-right: 90px;
  width: 170px;
  height: 100%;
}

/*  **********************  GRID  **********************
    **********************  GRID  **********************
    **********************  GRID  **********************  */
.landing__sectionwrapper--words {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr 0.7fr 0.7fr;
  -ms-grid-columns: 1fr;
      grid-template: 1.5fr 0.7fr 0.7fr / 1fr;
  height: 70vh;
  width: 50%;
  padding-top: 50px;
}

.secondpage__gridcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr 0.5fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr 0.5fr 0.5fr/repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: 100%;
}

.thirdpage__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: (25%)[4];
      grid-template: 1fr 1fr/repeat(4, 25%);
  justify-items: center;
  height: 530px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourthpage__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (33%)[3];
      grid-template: 1fr/repeat(3, 33%);
  justify-items: center;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingtutela {
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(6, 1fr)/repeat(4, 1fr);
  margin-top: 30px;
}

.landing__ball {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 7;
  vertical-align: baseline;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 20px;
}

#paso1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
}

#paso2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#paso3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#paso4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#paso5 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#paso6 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container__list {
  width: 100%;
  height: 55%;
  display: -ms-grid;
  display: grid;
  gap: 10px 0px;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 0.3fr 1fr;
      grid-template: repeat(4, 1fr)/0.3fr 1fr;
}

.documents__container {
  width: 100%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(4, 1fr)/repeat(4, 1fr);
}

.info {
  width: 100%;
  height: 90%;
}

.docu__info--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 0.8fr 1fr;
      grid-template: repeat(4, 1fr)/0.8fr 1fr;
  width: 80%;
  height: 50%;
  margin: auto;
  background-color: #131A5B;
  border-radius: 11px;
  margin-top: 20px;
}

.economic__info {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-rows: (1fr)[5];
  -ms-grid-columns: 1fr;
      grid-template: repeat(5, 1fr)/1fr;
  height: 35%;
  margin: auto;
  background-color: white;
  border-radius: 11px;
  margin-top: 30px;
}

/*  **********************  LAYOUT  **********************
    **********************  LAYOUT  **********************
    **********************  LAYOUT  **********************  */
.main, .main2 {
  max-width: 80%;
  margin: auto;
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
}

.main2 {
  background-color: #DFDCF0;
  height: 80vh;
}

.landingbody {
  background-color: #DFDCF0;
}

.landing__navigation, .landing__navigation2 {
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  margin-right: 60px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 4px solid #B2A6F0;
  background-color: #DFDCF0;
  -webkit-box-shadow: 8px 12px 25px 0px #D4CFEF;
          box-shadow: 8px 12px 25px 0px #D4CFEF;
  height: 55px;
}

.landing__navigation2 {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.landing__navigation--list, .landing__navigation--list2 {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 110px;
}

.landing__sectionwrapper {
  max-width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 530px;
}

.register {
  width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondpage {
  max-width: 80%;
  margin: auto;
}

.secondpage__footer {
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: 80px;
  border-radius: 3px;
  border-bottom-right-radius: 60px;
  background-color: #0D0B40;
}

.secondpage__footer .secondpage__footer--parragraph {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  font-size: 20px;
  color: white;
}

.thirdpage {
  max-width: 80%;
  margin: auto;
}

.thirdpage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 40px;
  margin: auto;
  background-color: #0D0B40;
  border-radius: 3px;
  border-bottom-right-radius: 22px;
}

.thirdpage__container .thirdpage__container--p {
  text-decoration: none;
  font-family: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #0D0B40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: "Roboto", sans-serif;
}

.fourthpage {
  max-width: 80%;
  margin: auto;
}

.fourthpage__card--list {
  height: 60%;
}

.fourthpage__card--list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.fifthpage {
  max-width: 80%;
  margin: auto;
  height: 600px;
}

.landing__ball {
  height: 280px;
  width: 280px;
  background-color: #0D0B40;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing__ball:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #5bb75b;
}

.dashboard {
  max-width: 100%;
  background-color: #DFDCF0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.profile {
  height: 95%;
  border: none;
  width: 20%;
  margin: 0;
  background-color: #0D0B40;
  border-radius: 15px;
}

.profile__container1 {
  width: 100%;
  margin: auto;
  height: 40%;
}

.profile__container2 {
  width: 100%;
  height: 60%;
  background-color: #131A5B;
  border: 0px solid #131A5B;
  border-radius: 0px 100px 15px 15px;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__contact {
  width: 65%;
  height: 20%;
  margin: 0 auto;
  background-color: #0D0B40;
  margin-top: 40px;
  border-radius: 10px;
}

.documents {
  width: 50%;
  height: 90%;
  margin: 0;
  border: none;
}

.documents__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  letter-spacing: 1px;
  height: 13%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.info {
  width: 25%;
  height: 90%;
  margin: 0;
}

.docu__info {
  height: 45%;
  width: 80%;
  background-color: white;
  border-radius: 11px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 1440px) {
  .menu__container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .menu__container {
    display: none;
  }
  .landing__navigation--list, .landing__navigation--list2 {
    padding-left: 50px;
    width: 550px;
    margin: auto;
  }
  .landing__sectionwrapper {
    height: 500px;
  }
  .register {
    width: 300px;
    padding-right: 20px;
  }
  .thirdpage__grid--cards {
    width: 80%;
  }
  .thirdpage__grid--cards img {
    width: 160px;
  }
  .landing__heading {
    font-size: 43px;
  }
  .landing__parragraph {
    font-size: 26px;
    max-width: 85%;
  }
  .landing__button, .thirdpage__grid--cards button, .fourthpage__card button, .form__button {
    margin-top: 15px;
  }
  .landing__sectionwrapper--words {
    height: 50%;
    padding-top: 20px;
  }
  .landing__sectionwrapper--img {
    height: 500px;
  }
  .right {
    padding-top: 60px;
  }
  .fourthpage__heading {
    font-size: 50px;
    text-align: center;
  }
  .fourthpage__card--anchor {
    width: 110px;
  }
  .fourthpage__heading {
    font-size: 2em;
  }
  .fifthpage__heading, .fifthpage__heading2 {
    font-size: 2em;
  }
  .fifthpage__subheading {
    font-size: 1.3em;
  }
  .footerdiv {
    height: 130px;
  }
  .footer {
    height: 350px;
  }
  .footerdiv2__tyc {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .menu__container {
    display: none;
  }
  .langing__anchor {
    display: none;
  }
  .landing__navigation--list, .landing__navigation--list2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing__sectionwrapper {
    height: 400px;
  }
  .landing__sectionwrapper--words {
    width: 50%;
    height: 50%;
    padding-top: 20px;
  }
  .landing__sectionwrapper--img {
    height: 400px;
  }
  .right {
    height: 350px;
    width: 80%;
    padding: 0px;
  }
  .landing__heading {
    font-size: 32px;
  }
  .landing__parragraph {
    font-size: 20px;
  }
  .landing__button, .thirdpage__grid--cards button, .fourthpage__card button, .form__button {
    margin-top: 10px;
  }
  .icon {
    height: 40px;
  }
  .icon img {
    height: 100%;
  }
  .secondpage__anchor {
    height: 130px !important;
  }
  .secondpage__heading {
    height: 80px !important;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px;
  }
  .thirdpage__heading {
    font-size: 20px;
  }
  .thirdpage__anchor {
    height: 140px;
  }
  .secondpage__footer {
    margin-top: 40px;
  }
  .secondpage__heading {
    height: 130px;
  }
  .secondpage__gridcontainer {
    height: 60%;
    margin: 0px;
  }
  .secondpage__gridcontainer p {
    font-size: .8em;
  }
  .thirdpage__grid {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  }
  #CARDNONE {
    display: none;
  }
  #CARDNONE2 {
    display: none;
  }
  .fourthpage__heading {
    font-size: 40px;
    text-align: center;
  }
  .fourthpage__grid {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
  }
  #CARDNONE3 {
    display: none;
  }
  .fifthpage__heading, .fifthpage__heading2 {
    font-size: 36px;
    text-align: center;
  }
  .fifthpage__subheading {
    font-size: 26px;
  }
  .fifthpage__searchcontainer {
    width: 70%;
  }
  .footerdiv {
    height: 170px;
  }
  .footer {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing__sectionwrapper {
    height: 60vh;
  }
  .landing__sectionwrapper--img {
    display: none;
  }
  .landing__sectionwrapper--words {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .landing__parragraph {
    margin: auto;
  }
  .right {
    display: none;
  }
  .landing__navigation, .landing__navigation2 {
    display: none;
  }
  .landing__navigation--list, .landing__navigation--list2 {
    display: none;
  }
  .btn, .landing__button, .thirdpage__grid--cards button, .fourthpage__card button, .form__button {
    display: none;
  }
  .btn2 {
    display: none;
  }
  .secondpage__gridcontainer img {
    max-width: 100px;
  }
  .secondpage__anchor {
    height: 90px !important;
    margin-top: 10px;
  }
  .secondpage__heading {
    margin: auto;
    font-size: 2em;
  }
}
/*# sourceMappingURL=styles.css.map */