/*  **********************  GRID  **********************
    **********************  GRID  **********************
    **********************  GRID  **********************  */

    
.landing__sectionwrapper--words {
    display: grid;
    grid-template: 1.5fr 0.7fr 0.7fr / 1fr; 
    height: 70vh;
    width: 50%;
    padding-top: 50px;
}


.secondpage__gridcontainer {
    display: grid;
    grid-template: 1fr .5fr .5fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
}


.thirdpage__grid {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 25%);
    justify-items: center;
    height: 530px;
    align-items: center;
}

.fourthpage__grid {
    display: grid;
    grid-template: 1fr / repeat(3, 33%);
    justify-items: center;
    height: 500px;
    align-items: center;
}

.landingtutela{
	@include totalwide;
	height: 90%;
    width: 80%;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    margin-top: 30px;
}
.landing__ball {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    vertical-align: baseline;
    justify-self: center;
    margin-top: 20px;
}
#paso1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    align-items: flex-start;
    justify-self: center;
}
#paso2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    justify-self: center;
}
#paso3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-self: center;
}
#paso4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-self: center;
}

#paso5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    align-items: center;
    justify-self: center;
}

#paso6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    align-items: center;
    justify-self: center;
}

.container__list {
    width: 100%;
    height: 55%;
    display: grid;
    gap: 10px 0px;
    grid-template: repeat(4 , 1fr) / .3fr 1fr;
}

.documents__container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);

}

.info {
    width: 100%;
    height: 90%;
}

.docu__info--container {
    display: grid;
    grid-template: repeat(4, 1fr) / 0.8fr 1fr;
    width: 80%;
    height: 50%;
    margin: auto;
    background-color: #131A5B;
    border-radius: 11px;
    margin-top: 20px;
}


.economic__info {
    display: grid;
    width: 80%;
    grid-template: repeat(5, 1fr) / 1fr;
    height: 35%;
    margin: auto;
    background-color: white;
	border-radius: 11px;
    margin-top: 30px;
}
