/*  **********************  MIXIN  **********************
    **********************  MIXIN  **********************
    **********************  MIXIN  **********************  */


@mixin totalwide {
    max-width: 100%;
    background-color: $color-brand;
    margin-left: auto;
    margin-right: auto;
}

@mixin generalwide {
    max-width: 80%;
    margin: auto;
}
@mixin decoration {
    text-decoration: none;
    font-family: bold;
    text-transform: uppercase;
    font-family: $basefont;
    color: $color-secondary;
    display: flex;
    justify-content: center;
}

@mixin buttons ($buttonwidth: 140px, $buttonheight: 40px) {
    width: $buttonwidth;
    height: $buttonheight;
    text-transform: uppercase;
    border: 1px solid $color-white;
    border-radius: 3px;
    border-bottom-right-radius: 14px;
    background-color: $color-white;
    font-size: $buttonfontsize;
    color: $color-secondary;
    outline: none;
}

@mixin cards {
    width: 180px;
    height: 210px;
    margin-top: 20px;
    border: 6px solid white;
    border-radius: 3px;
    border-bottom-right-radius: 22px;
    box-shadow: 8px 8px 16px 0px grey;
    background-color: $color-white;
}

@mixin secondaryText {
    text-transform: none;
    color: #6272F1;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    margin: 10px;
}

@mixin sticky {
    display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	padding: 5px 0px;
	margin-right: 60px;
	position: sticky;
	z-index: 1;
	top:  0;
	border-bottom: 4px solid #B2A6F0;
    background-color: $color-brand;
    box-shadow: 8px 12px 25px 0px#D4CFEF;
}
