/*  **********************  VARIABLES  **********************
    **********************  VARIABLES  **********************
    **********************  VARIABLES  **********************  */


// Branding colors

$color-brand: #DFDCF0;
$color-secondary: #0D0B40;
$color-third: #2F71F7;

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

// Texturas
$color-alert: rgb(252,228,207);
$color-error: rgb(218,79,73);
$color-info: rgb(66,104,221);
$color-success: rgb(91,183,91);


// Tipografía
$basefont:'Roboto', sans-serif;
$basefontsize: 40px;
$listfontsize: 20px;

$buttoncolor: $color-white;
$buttonbackgroundcolor: $color-third;
$buttonfontsize: 14px;



// Constantes

$border-radius: 40px;
$padding: 24px;
$page-max-width: 800px;
$list-style: none;


// Media Queries

$laptop: 1024px;
$tablet: 768px;
$cellphone1: 480px;
$cellphone2: 320px;