/*  **********************  LAYOUT  **********************
    **********************  LAYOUT  **********************
    **********************  LAYOUT  **********************  */

.main {
	@include generalwide;
	@include totalwide;
}
.main2 {
	@extend .main;
	background-color: $color-brand;
	height: 80vh;
}
.landingbody{
	background-color: $color-brand;
}

.landing__navigation {
	@include totalwide;
	@include sticky;
	height: 55px;
}
.landing__navigation2{
	@extend .landing__navigation;
	border: none;
	box-shadow: none;
	position: relative;
}
.landing__navigation--list {
	width: 700px;
	display: flex;
	justify-content: space-evenly;
	padding-left: 110px;
}
.landing__navigation--list2 {
	@extend .landing__navigation--list;

}
.landing__sectionwrapper {
	@include generalwide;
	display: flex;
	margin: auto;
	height: 530px;
}

.register {
	width: 25%;
	justify-content: space-around;
	display: flex;
}
.secondpage {
	@include generalwide;
	
}

.secondpage__footer {
	@include totalwide;
	display: flex;
	height: 100px;
	width: 100%;
	margin-top: 80px;
	// margin-bottom: 30px;
	border-radius: 3px;
	border-bottom-right-radius: 60px;
	background-color: $color-secondary;
	& .secondpage__footer--parragraph {
		@include decoration;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		align-items: center;
		height: 50%;
		font-size: 20px;
		color: $color-white;
	}
}
.thirdpage {
	@include generalwide;
}

.thirdpage__container {
	display: flex;
	justify-content: center;
	width: 60%;
	height: 40px;
	margin: auto;
	background-color: $color-secondary;
	border-radius: 3px;
	border-bottom-right-radius: 22px;
	& .thirdpage__container--p {
		@include decoration;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-white;
		font-size: $basefont;
	}
}

.fourthpage {
	@include generalwide;
}

.fourthpage__card--list {
	height: 60%;
}

.fourthpage__card--list li {
	align-items: center;
	margin: 30px;
}

.fifthpage {
	@include generalwide;
	height: 600px;
}

.landing__ball {
	height: 280px;
	width: 280px;
	background-color: $color-secondary;
	border-radius: 50%;
	display: flex;
}

.landing__ball:hover {
	transition: 1s;
	background-color: $color-success;
}

.dashboard {
	@include totalwide;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.profile {
	height: 95%;
	border: none;
	width: 20%;
	margin: 0;
	background-color: $color-secondary;
	border-radius: 15px;
}

.profile__container1 {
	width: 100%;
	margin: auto;
	height: 40%;
}

.profile__container2 {
	width: 100%;
	height: 60%;
	background-color: #131A5B;
	border: 0px solid #131A5B;
	border-radius: 0px 100px 15px 15px;
	padding-top: 60px;
	box-sizing: border-box;
}

.container__contact {
	width: 65%;
	height: 20%;
	margin: 0 auto;
	background-color: $color-secondary;
	margin-top: 40px;
	border-radius: 10px;
}
.documents {
	width: 50%;
	height: 90%;
	margin: 0;
	border: none;

}
.documents__name {
	display: flex;
	width: 100%;
	letter-spacing: 1px;
	height: 13%;
	align-items: center;
	padding-left: 40px;
}
.info {
	width: 25%;
	height: 90%;
	margin: 0;
}

.docu__info {
	height: 45%;
	width: 80%;
	background-color: white;
	border-radius: 11px;
	margin: auto;
	margin-top: 30px;
}

