

@media screen and (max-width: 1440px) {
    .menu__container {
        display: none;
    }
}

@media screen and (max-width: $laptop) {
    .menu__container {
        display: none;
    }
    .landing__navigation--list {
        padding-left: 50px;
        width: 550px;
        margin: auto;
    }
    .landing__sectionwrapper {
        height: 500px;
    }
    .register {
        width: 300px;
        padding-right: 20px;
    }
    .thirdpage__grid--cards {
        width: 80%;
        & img{
            width: 160px;
        }
    }
    .landing__heading {
        font-size: 43px;
    }
    .landing__parragraph {
        font-size: 26px;
        max-width: 85%;
    }
    .landing__button {
        margin-top: 15px;
    }
    .landing__sectionwrapper--words {
        height: 50%;
        padding-top: 20px;
    }
    .landing__sectionwrapper--img {
        height: 500px;
    }
    .right {
        padding-top: 60px;
    }
    .fourthpage__heading {
        font-size: 50px;
        text-align: center;
    }
    .fourthpage__card--anchor {
        width: 110px;
    }
    .fourthpage__heading {
        font-size: 2em  ;
    }
    .fifthpage__heading {
        font-size: 2em;
    }
    .fifthpage__subheading {
        font-size: 1.3em;
    }
    .footerdiv {
        height: 130px;
    }
    .footer {
        height: 350px;
    }
    .footerdiv2__tyc {
        justify-self: flex-start;
    }
}

@media screen and (max-width: $tablet) {
    .menu__container {
        display: none;
    }
    .langing__anchor {
        display: none;
    }
    .landing__navigation--list {
        justify-content: center;
    }
    .landing__sectionwrapper {
        height: 400px;
    }
    .landing__sectionwrapper--words {
        width: 50%;
        height: 50%;
        padding-top: 20px;
    }
    .landing__sectionwrapper--img {
        height: 400px;
    }
    .right {
        height: 350px;
        width: 80%;
        padding: 0px;
    }
    .landing__heading {
        font-size: 32px;
    }
    .landing__parragraph {
        font-size: 20px;
    }
    .landing__button {
        margin-top: 10px;
    }
    .icon {
        height: 40px;
        & img {
            height: 100%;
        }
    }
    .secondpage__anchor {
        height: 130px !important;
    }
    .secondpage__heading {
        height: 80px !important;
        font-size: 40px;
        text-align: center;
        margin: 0px 0px;
    }
    .thirdpage__heading {
        font-size: 20px;
    }
    .thirdpage__anchor {
        height: 140px;
    }
    .secondpage__footer {
        margin-top: 40px;
    }
    .secondpage__heading {
        height: 130px;
    }
    .secondpage__gridcontainer {
        height: 60%;
        margin: 0px;
    }
    .secondpage__gridcontainer p {
        font-size: .8em;
    }
    .thirdpage__grid {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
    #CARDNONE {
        display: none;
    }
    #CARDNONE2 {
        display: none;
    }
    .fourthpage__heading {
        font-size: 40px;
        text-align: center;
    }
    .fourthpage__grid {
        grid-template: 1fr / repeat(2, 1fr);
    }
    #CARDNONE3 {
        display: none;
    }
    .fifthpage__heading {
        font-size: 36px;
        text-align: center;
    }
    .fifthpage__subheading {
        font-size: 26px;
    }
    .fifthpage__searchcontainer {
        width: 70%;
    }
    .footerdiv {
        height: 170px;
    }
    .footer { 
        height: 400px;
    }
}

@media screen and (max-width: $cellphone1) {
    .menu__container {
        display: flex;
    }
    .landing__sectionwrapper {
        height: 60vh;
    }
    .landing__sectionwrapper--img {
        display: none;
    }
    .landing__sectionwrapper--words {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .landing__parragraph {
        margin: auto;
    }
    .right {
        display: none;
    }
    
    .landing__navigation {
        display: none;
    }

    .landing__navigation--list {
        display: none;
    }

    .btn {
        display: none;
    }

    .btn2 {
        display: none;
    }

    .secondpage__gridcontainer img {
        max-width: 100px;
    }

    .secondpage__anchor {
        height: 90px !important;
        margin-top: 10px;
    }

    .secondpage__heading {
        margin: auto;
        font-size: 2em;
    }
}